@tailwind base;
@tailwind components;
@tailwind utilities;

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.max-800 {
  max-width: 800px;
}

@media (min-width: 799px) {
  body {
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 800px;
  }
}
